@use "variables" as v;
@layer utilities {
	$increment: 0.25rem;

	$directions: (
		t: top,
		b: bottom,
		l: left,
		r: right,
	);

	// spacing
	@for $i from 1 through 20 {
		.h-#{$i} {
			height: $i * $increment;
		}
		.w-#{$i} {
			width: $i * $increment;
		}
		.m-#{$i} {
			margin: $i * $increment;
		}
		.p-#{$i} {
			padding: $i * $increment;
		}
		.radius-#{$i} {
			border-radius: $i * $increment;
		}
		.gap-#{$i} {
			gap: $i * $increment;
		}
		@each $name, $value in $directions {
			.m#{$name}-#{$i} {
				margin-#{$value}: $i * $increment;
			}
			.p#{$name}-#{$i} {
				padding-#{$value}: $i * $increment;
			}
			.px-#{$i} {
				padding: 0 $i * $increment;
			}
			.py-#{$i} {
				padding: $i * $increment 0;
			}
		}
	}

	// colors
	@each $name, $value in v.$colors {
		.bg-#{$name} {
			background-color: var(--#{$name});
		}
		.border-#{$name} {
			border-color: var(--#{$name});
		}
		.text-#{$name} {
			color: $value;
		}
	}

	// flex utilities
	.flex {
		display: flex;
	}
	.flex-column {
		flex-direction: column;
	}
	.flex-row {
		flex-direction: row;
	}
	.justify-center {
		justify-content: center;
	}
	.justify-between {
		justify-content: space-between;
	}
	.justify-around {
		justify-content: space-around;
	}
	.justify-evenly {
		justify-content: space-evenly;
	}
	.align-center {
		align-items: center;
	}
	.align-start {
		align-items: flex-start;
	}
	.align-end {
		align-items: flex-end;
	}
	.align-stretch {
		align-items: stretch;
	}
	.align-baseline {
		align-items: baseline;
	}
	.flex-wrap {
		flex-wrap: wrap;
	}
	.flex-grow {
		flex-grow: 1;
	}
	.flex-shrink {
		flex-shrink: 1;
	}

}
