@use "../partials/variables" as v;
@use "../partials/mixins" as m;
@use "../partials/functions" as f;
@layer components {
  .card-group {
    background-color: var(--nav-bg-color);
    box-shadow: 0 0 f.rem(10) rgba(0, 0, 0, 0.1);
    border-radius: f.rem(10);
    padding: f.rem(16) f.rem(24);
    &__container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
      @media (width >= f.screen(md)) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (width >= f.screen(lg)) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &__title {
      font-size: f.rem(24);
    }
    &__content {
      color: var(--secondary-text-color);
      p {
        @include m.flexbox($direction: row, $gap: f.rem(8));
      }
    }
    &__footer {
      @include m.flexbox($direction: row, $justify: flex-end)
    }
  }
}